* { 
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif
}


.container {
    width: 400px;
    height: 400px;
    display: flex;
    
}

.container__left {
    padding: 100px;
    background: linear-gradient(hsl(0, 80%, 86%), hsl(0, 100%, 98%) )
}

.container__left .left__title{
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 13px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    color: hsl(0, 36%, 70%);

}
.container__left .left__title__second{
   font-size: 3em;
   text-transform: uppercase;
   letter-spacing: 15px;
   font-weight: 700;
}

.container__left .left__text {
    /* font-weight: 300; */
    margin-top: 10px;
    font-size: 15px;
    width: 400px;
    /* color: hsl(0, 6%, 24%) */
    color: hsl(0, 36%, 70%);
}

.container__right .container__right__img {
    width: 400px;
    height: 400px;
}
.left__email .input input{
   width: 220px;
   border-radius: 20px;
   padding: 10px;
   border:none;
   outline: none;
   background-color: transparent;
}
.left__email .input {
 margin-top: 20px;
 /* background: red; */
 width: 250px;
 height: 40px;
 display: flex;
 border-radius: 20px;
 border: 1px solid hsl(0, 80%, 86% );
 background: transparent;
}
.left__email .input img {
    z-index: 100;
    background: hsl(0, 80%, 86%);
    padding: 10px;
    /* background: red; */
    /* padding: 0px 5px; */
    border-radius: 30px;
    width: 15px;
    padding-right: 30px;
    padding-left: 30px;
}

